[mysqld]
# Définir le répertoire de travail MySQL
datadir=/var/lib/mysql

# Définir l'encodage par défaut
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# Définir les paramètres de sécurité
secure-file-priv=""
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

# Définir le fichier de configuration des utilisateurs MySQL
default_authentication_plugin=mysql_native_password

# Définir les paramètres du journal MySQL
log-bin=mysql-bin
binlog-format=row
expire-logs-days=7
max-binlog-size=100M
